
.cart-grid {
    display: grid;
    /* Here, 1fr means the first column will take
       up the remaining space in the grid. */
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
  
    /* Use align-items: start; to prevent the elements
       in the grid from stretching vertically. */
    align-items: start;
  }

.page-title{
    margin-top: 30px;
}

.stock{
   font-size: small;
   color: #007600;

}

.place-order-button{
   color: #0F1111;
   background-color: #FFD712;
}
.payment-summary{
   margin-top: 93px;
}
#loading-spinner {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1000; /* Make sure it's on top of other content */
}
.spinner-border {
   width: 3rem;
   height: 3rem;
   border-width: 0.25em;
}
#loading-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.7); /* Fondo blanquecino con opacidad */
   z-index: 999; /* Debe estar debajo del spinner pero encima del contenido */
}
