
.cart-grid {
    display: grid;
    /* Here, 1fr means the first column will take
       up the remaining space in the grid. */
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
  
    /* Use align-items: start; to prevent the elements
       in the grid from stretching vertically. */
    align-items: start;
  }

.page-title{
    margin-top: 30px;
}

.stock{
   font-size: small;
   color: #007600;

}

.place-order-button{
   color: #0F1111;
   background-color: #FFD712;
}
.payment-summary{
   margin-top: 93px;
}
