.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.order-header{
  display: flex;
  margin-bottom: 0;
  gap: 0;
}
.order-header-left-section {
  margin-bottom: 0;
  display: flex;
  flex-shrink: 0;
  background-color: beige;
}

.order-header-label {
  font-weight: 500;
}

.order-date,
.order-total {
  margin-right: 45px;
}

.order-header-right-section {
  margin-bottom: 0;

  background-color: beige;
  flex-shrink: 1;
}

.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  margin-bottom: 50px;
  display: block;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}


.product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

.product-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.product-delivery-date {
  margin-bottom: 3px;
}

.product-quantity {
  margin-bottom: 8px;
}
.order-header-btn{

  background-color: beige;
}
.buy-again-button {
  font-size: 12px;
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(255, 216, 20);
  cursor: pointer;
  border: 3px solid #ff8c00; /* Bright border */
  border-radius: 5px 0 0 5px; /* Rounded left side */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.buy-again-button:hover {
  background-color: #ff8c00; /* Darker background on hover */
  color: white; /* Change text color on hover */
  transform: scale(1.05); /* Slightly scale the button on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.item-grid{
  margin-bottom: 20px;
}
.buy-again-txt {
  margin-left: 7px;
}


.track-package-button {
  width: 100%;
  font-size: 15px;
  padding: 8px;
}
.products-btn {
  background-color: #FFD712;
  padding: 10px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  position: bottom;
  bottom: 20px;
  left: 50%;
}
